body{
	font-size: 16px;
	background: $brand-primary;
}

#login-dropdown-list{
	left: auto;
	right: 0;
}

.bg-gradient--white{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35vh;
	background: linear-gradient(to top, white, rgba(255,255,255,0));
	pointer-events: none;
}

.margin-20-0{
	margin: 20px 0;
}