<template name="VenueDetail">
	{{> navbar}}
	
	{{> Map }}
	
	<div class="container">
		
		<div class="page-header">
		 <span class="pull-right"><a href="#" class="btn btn-warning">Flag</a></span>
		 <h1>{{location.address}} <small>{{isActive}}</small></h1>

		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{location.name}} <small class="pull-right">{{latitude}}, {{longitude}}</small></h3>
		  </div>

		  <div class="panel-body">
				
		    <p>{{about}}</p>
				
				{{> Tags }}

		  </div>
		</div>
		
	</div>
  
 
</template>
