<template name="VenueDetail">
	{{> navbar}}
	
	{{> Map }}
	
	<div class="container">
		
		<div class="page-header">
		 <span class="pull-right"><a href="#" class="btn btn-warning">Flag</a></span>
		 <h1>{{address}} <small>{{isActive}}</small></h1>

		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{name}} <small class="pull-right">{{lat}}, {{lon}}</small></h3>
		  </div>

		  <div class="panel-body">
				
		   <!--  <p><img src="https://maps.googleapis.com/maps/api/streetview?size=2000x400&location={{coordinates}}"></p> -->
				
				{{> Tags }}

		  </div>
		</div>
		
	</div>
  
 
</template>
