/*****************************************************************************/
/* NearbyMap: Style */
/*****************************************************************************/
.nearby-map {
	position: fixed;
	padding: 0;
	top: 53px;
	height: 100%;
}
