/*****************************************************************************/
/* NearbyMap: Style */
/*****************************************************************************/
.nearby-map {
	@media(min-width: $screen-md){
		position: fixed;
		top: $navbarHeight;
		right: 0;
		bottom: 0;
		width: 70vw;
		height: 100vh;
	}
	@media(max-width: $screen-md){
		@extend .full-screen;
	}
}
