/*****************************************************************************/
/* NearbyMap: Style */
/*****************************************************************************/
.nearby-map {
	position: fixed;
	padding: 0;
	top: 53px;
	height: 100%;

	&:after{
        content: '';
        user-select: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0;
        box-shadow: 0 -10 10px 20px #FFF;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
}
