
.loading-icon--container{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left:0;
  &.fixed{
    position: fixed;
  }
  &.inline-block{
    position: relative;
    min-height: 150px;
  }
}

.loading-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  path{
    fill: $brand-primary;
  }
}
.attribution-icon{
  img{
    width: 75%;
  }
}