<template name="navbar">
  <nav id="nav-primary" class="navbar navbar-inverse navbar-static-top">
	  <div class="container">
	    <div class="navbar-header navbar-left">
	     	
	     	{{#unless isHome}}
	     	<div class="navbar-text navbar-left">
	     		{{#linkTo route='home'}}
		         <i class="fa fa-long-arrow-left"></i> Back
		      {{/linkTo}}
			  </div>
		    {{else}}
		    <div class="navbar-text navbar-left">
			    {{#linkTo route='home' class="navbar-brand"}}
		        Wifey
		      {{/linkTo}}
		    </div>
		  	{{/unless}}

	    </div>
	    <div class="navbar-text navbar-right">
		  	{{> loginButtons}}
		  </div>
	  </div>	  
	</nav>
</template>
