/*****************************************************************************/
/* NetworksList: Style */
/*****************************************************************************/
.venue-list {
	position: relative;
	margin-top: 60vh;
	.list-group{

		&:last-child{
			margin-bottom: 0;
		}
		
	}
	.panel-title{
		line-height: 29px;
	}
}
