<template name="VenueList">
  {{> navbar}}
  {{> NearbyMap}}
  
  <!-- {{#if currentUser}} -->
  <div class="container venue-list">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{venueCount}} Venues <span class="pull-right">{{> VenueFilter}}</span>
        </h3>
        
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        
        <div class="list-group">
        {{#if equals venueCount 0}}
          <h2 class="text-center text-muted margin-20-0">No Results Found</h2>
        {{else}}
          {{#each venues}}
            {{> VenueItem}}
          {{/each}}
        {{/if}}
        </div>  
      </div>
    </div>
   
  </div>
  
  <div class="container">
    {{#linkTo route='venue.create' class='btn btn-success btn-lg btn-block'}}
      Add Network
    {{/linkTo}}  
  </div>
  <!-- {{/if}} -->
    
  
</template>


