/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

$brand-primary: green;

.map-container {
	position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 500px;
  padding-bottom: 56.7%;
  canvas, embed, .map-canvas{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right:0;
  }
}