/*****************************************************************************/
/* Variables and Bootstrap overrides */
/*****************************************************************************/

$input-border-focus: $brand-secondary;

// Stored
$navbarHeight: 52px;
$font-size-base: 16px;

$border-radius-base: 2px;
$border-radius-small: 1px;
$border-radius-large: 0px;
