/*****************************************************************************/
/* Map: Style */
/*****************************************************************************/
.map {
}
.map-container {
	position: relative;
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 45%;

  @media(min-width: $screen-md){
    padding-bottom: 30.7%;
  }
  &.full-screen{
    padding: 0;
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
  }
  canvas, embed, .map-canvas{
		position: absolute;
		width: 100%;
		height: 100%;
  }
  #nav-primary + &{
    // @media(min-width: $screen-sm){
    //   margin-top: -20px;  
    // }
  }
}