/*****************************************************************************/
/* Map: Style */
/*****************************************************************************/
.map {
}
.map-container {
	position: relative;
  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 45%;

  @media(min-width: $screen-md){
    padding-bottom: 30.7%;
  }
  canvas, embed, .map-canvas{
		position: absolute;
		width: 100%;
		height: 100%;
  }
}
.map-fullscreen{
  position: fixed;
  padding: 0;
  top: $navbarHeight;
  height: 100vh;

  &:after{
    content: '';
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    box-shadow: 0 -10 10px 20px #FFF;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
}